.navbar.fixed-top+.page-body-wrapper {
    padding-top: 70px;
}

.page-body-wrapper {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.25s ease;
}

.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 992px) {
    .page-body-wrapper {
        width: 100%;
    }
}