.card-coupons-2 {
    width: 50%;
}

.form-news .form input[placeholder="Title"],
.form-news .form input[placeholder="Code"] {
    padding: 25px 10px;
    font-size: 22px;
    color: White;
}

.radio-coupons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 30px 0;
}